<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TitulaTEc</title>
    <script>
        function ocultarDivs(){
            document.getElementById("admin").style.display='none';
            document.getElementById("alumno").style.display='none';
        }
        function verificarTipo(){
            var tipo=document.getElementById("tipo").options[document.getElementById("tipo").options.selectedIndex].value;
            alert(tipo);
            switch(tipo){
                case 'A':
                    document.getElementById("admin").style.display='block';
                    break;
                case 'E':
                    document.getElementById("alumno").style.display='block';
                    break;
            }


        }
    </script>
</head>
<body onload="ocultarDivs()">
    <h1>Registro de usuarios</h1>
    <form action="/usuarios/guardar" method="post">
        <label>Nombre:</label>
        <input type="text" placeholder="Nombre"  name="nombre" maxlength="100" required>
        <br>
        <label>Sexo:</label>
        <input type="radio" checked name="sexo" value="F">Femenino
        <input type="radio" name="sexo" value="M">Masculino
        <br>
        <label>Telefono:</label>
        <input type="tel" name="telefono" placeholder="###-###-####" required>
        <br>
        <label>Email:</label>
        <input type="email" name="email"  placeholder="algo@algo" required>
        <br>
        <label>Password:</label>
        <input type="password" name="password" required>
        <br>
        <label>Tipo</label>
        <select name="tipo" onchange="verificarTipo()" id="tipo">
            <option selected>--Selecciona el tipo --</option>
            <option value="A">Administrativo</option>
            <option value="E">Alumno</option>
            <option value="D">Docente</option>
        </select>
        <br>
        <label>Estatus:</label>
        <input type="checkbox" name="estatus" value="A" checked>
        <br>
        <div id="admin">
            <h1>Datos del Empleado</h1>
            <label>No Empleado:</label>
            <input type="number" name="noEmpleado">
        </div>
        <div id="alumno">
            <h1>Datos del Alumno</h1>
            <label>No Control:</label>
            <input type="niumber" name="noControl">
        </div>
        <input type="submit" value="Registrar">
        <a href="/">Regresar</a>
    </form>
</body>
</html>