<!DOCTYPE HTML>
<HTML>
    <HEAD>
        <title>TitulaTEC</title>
        <meta charset="utf-8">
    </HEAD>
    <BODY>

        <header>
            <center>
                <img src="../Imagenes/logoITESZ.png">
            </center>
        </header>
        <nav>
            Alumnos | Docentes |Actos
        </nav>
        <main>
            <section>
               <h1>Listado de Opciones</h1>
               <Label>Buscar:</Label>
               <input type="text" placeholder="Buscar por nombre" name="nombre">
               <button>Buscar</button>
               <br>
               <a href="altaOpciones.html">Agregar Opcion</a> 
               <table border="1">
                    <thead>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Residencia</td>
                            <td>Presentacion de lo que se realizo durante las recidencias</td>
                            <td><a href="modificarOpciones.html"><img src="../Imagenes/editar.png"></a></td>
                            <td><a href="eliminarOpciones.html"><img src="../Imagenes/eliminar.png"></a></td>
                        </tr>
                    </tbody>

                </table> 
                <p>Paginas:</p>
                Anterior <a href="#">1</a> de 7 Siguiente       
            </section>
            <a href="#">Refrescar</a>
        </main>
        <footer>
            <hr>
            &copy;Derechos reservados ITESZ 
        </footer>

    </BODY>
</HTML> 