<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creación/modificación</title>
</head>
<body>
    <header>
        <center>
            <img src="../Imagenes/logoITESZ.png">
        </center> <br></br>
    </header>
    <nav>
        Alumnos | Docentes | Opciones
    </nav><br>
    <main>
        <section>
            <h1>Registro de opciones</h1>
            <form action="#" method="POST" enctype="text/plain">
                    <legend>registrar nueva opción</legend>
                   <label>ID Opciones:</label> 
                   <input type="number" value="1" name="idopciones" required>
                   <br><br>
                   <label>Nombre:</label> 
                   <input type="text" value="" name="nombre" required>
                   <br><br>
                   <label>Descripción:</label> 
                   <input type="text" value="" name="Descripción" required>
                   <br><br>
                   <button type="submit">Aceptar</button>
                <button><a href="index.html">Regresar</a></button>  



            
            </fieldset>
            </form>
        </section>
        <aside>Barra Lateral</aside>
        
    </main>
    <footer>
        <hr>
        &copy;Derechos reservados ITESZ 
    </footer>
    
    
</body>
</html>