<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8">
        <title>MODIFICACIÓN DE OPCIONES</title>
        
    </head>
    <body>
        <header>
            INSTITUTO TECNOLOGICO DE ESTUDIOS SUPERIORES DE ZAMORA
        </header>
       
        <main>
            <section>
                <h1>MODIFICACIÓN DE ACTOS</h1>
                <form action="#" method="POST" enctype="text/plain">
                <div id="MODIFICACIÓN DE DATOS DE OPCIONES">
                    <fieldset>
                        <legend>Datos de Opciones</legend>
                           <label>ID Opciones:</label>
                           <input type="number" value="1" name="idActo" readonly>
                           <br>
                           <label>Nombre</label>
                           <input type="txt" name="Nombre" required> 
                           <br>
						   <label>Descripción</label>
                           <input type="text" name="Descripción" required> 
                           <br>
					
                           
                           <button type="submit">Aceptar</button>
                           <button><a href="./ConsultarActo.html">Regresar</a></button>    
                    </fieldset>
                </div>
                </form>
            </section>
        </main>
        <footer>
            <hr>
            &copy;Derechos reservados ITESZ 
        </footer>
    </body>
</html>