<html>
    <head>
        <title>CRUD de Opciones</title>
    </head>
    <body>
        <div id="listadoGeneral">
            <table>
                <th>ID</th>
                <th>Nombre</th>
                <th>Descripción</th>
            </table>
        </div>
        <div id="listadoIndividual">
            <div id="titulo"></div>
            <label>ID:</label>
            <input type="number" name="id" id="id" required>
            <br>
            <label>Nombre:</label>
            <input type="text" name="nombre" id="nombre" required>
            <br>
            <label>Descripción:</label>
            <input type="text" name="descripcion" id="descripcion" required>
            <br>
        </div>
        <div id="notificaciones">
        </div>
        <div id="acciones">
            <button>Nuevo</button>
            <button>Guardar</button>
            <br>
            <button>Actualizar</button>
            <button>Eliminar</button>
            <br>
            <button>Consulta General</button>
            <button>Consulta Individual</button>
        </div>
    </body>
</html>