<!DOCTYPE HTML>
<HTML>
    <HEAD>
        <title>TitulaTEC</title>
        <meta charset="utf-8">
    </HEAD>
    <BODY>
        
        <header>
            <center>
                <img src="../Imagenes/logoITESZ.png">
            </center>
        </header>
        <nav>
            Carreras
        </nav>
        <main>
            <section>
               <h1>Listado de Carreras</h1>
               <Label>Buscar:</Label>
               <input type="text" placeholder="Buscar por nombre" name="nombre">
               <button>Buscar</button>
               <br>
               <a href="Creacion.html">Agregar Carrera</a> 
               <table border="1">
                    <thead>
                        <th>ID de Carrrea</th>
                        <th>Nombre</th>
                        <th>Siglas</th>
                        <th>Creditos</th>
                        <th>planEstudios</th>
                        <th>especialidad</th>
                        <th>Numero De Empleados</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>01</td>
                            <td>Ingenieria En Sistemas Computacionales</td>
                            <td>ISC</td>
                            <td>260</td>
                            <td>ISIC-2010-224</td>
                            <td>Redes</td>
                            <td>6</td>
                            <td><a href="modificarCarrea.html"><img src="../Imagenes/editar.png"></a></td>
                            <td><a href="eliminarCarrera.html"><img src="../Imagenes/eliminar.png"></a></td>
                        </tr>
                    </tbody>
                </table> 
                <p>Paginas:</p>
                Anterior <a href="#">1</a> de 7 Siguiente       
            </section>
            <a href="#">Refrescar</a>
        </main>
        <footer>
            <hr>
            &copy;Derechos reservados ITESZ 
        </footer>
    
    </BODY>
</HTML>