<!DOCTYPE HTML>
<HTML>
    <HEAD>
        <title>TitulaTEC</title>
        <meta charset="utf-8">
    </HEAD>
    <BODY>
        
        <header>
            <center>
                <img src="../Imagenes/logoITESZ.png">
            </center>
        </header>
        <nav>
            Alumnos | Docentes |Actos
        </nav>
        <main>
            <section>
               <h1>Registro de Carreras</h1>
               <form action="#" method="POST" enctype="text/plain">
                <div id="datosPersonales">
                    <fieldset>
                        <legend>
                            Datos de Carrera
                        </legend>
                        <label>Id de Carrera:</label>
                        <input type="number" placeholder="1" name="Id de Carrera" maxlength="10" required>
                        <br>
                        <label>Nombre:</label>
                        <input type="text" placeholder="Nombre del Docente" name="nombre" maxlength="100" required>
                        <br>
                        <label>Siglas:</label>
                        <input type="text" placeholder="Siglas de Carrera" name="siglas" maxlength="20" required>
                        <br>
                        <label>Creditos:</label>
                        <input type="number" placeholder="Creditos de Carrera" name="creditos" maxlength="10" required>
                        <br>
                        <label>Plan de Estudio:</label>
                        <input type="text" placeholder="Plan de estudio de Carrera" name="plan" maxlength="20" required>
                        <br>
                        <label>Especialidad:</label>
                        <input type="text" placeholder="Especialidad de Carrera" name="especialidad" maxlength="80" required>
                        <br>
                        <label>Numero de Empleado :</label>
                        <input type="number" placeholder="Numero de Empleado" name="noEmpleado" maxlength="10" required>



                       
                            <br>
                           <button type="submit">Guardar</button>
                           <button>Cancelar</button>
                            
                    </fieldset>
                </div>
               </from>     
            </section>
          
        </main>
        <footer>
            <hr>
            &copy;Derechos reservados ITESZ 
        </footer>
    
    </BODY>
</HTML>