<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>TitulaTEC</title>
    </head>
    <body>
        <header>
            INSTITUTO TECNOLOGICO DE ESTUDIOS SUPERIORES DE ZAMORA
        </header>
        <main>
            <section>
                <h1>ELIMINACIÓN DE CARRERAS</h1>
                <form>
                <div id="datos de la Carrera">   
                           <p>¿Estas seguro de eliminar la Carrera: <b>Ingenieria En Sistemas Computacionales</b>?</p>
                           <button><a href="./consultaCarreras.html">Aceptar</a></button>
                           <button><a href="./consultaCarreras.html">Cancelar</a></button>
                </div>
                </form>
                <a href="./consultaCarreras.html">Regresar</a>
                
            </section>
        </main>
        <footer>
            Elaborado por AKPF
        </footer>
    </body>
</html>