<!DOCTYPE html>
<html>
    <head>
        <title > Consulta De Solicitudes</title>
        <meta charset= "utf-8">
    </head>
    <body>
        <main>
           <section>
               <h1 align="center">Listado de las Consultas</h1>
               <form>
               <label>Buscar Consulta :</label>
               <input type="text" placeholder="Buscar por numero unico" IDconsluta="IDconsulta">
               <button>Search</button> </br>

                
                <table align="center" border="1" bordercolor="AF33FF">
                    
                    <thead>
                        <tr>
                            <td colspan="8" align="center" bgcolor="18A300"> <strong>Informacion De La Solicitud</strong></td>
                        </tr>

                        <th>IDSolicitud</th>
                        <th>FechaRegistro</th>
                        <th>FechaAtencion</th>
                        <th>TituloProyecto</th>
                        <th>Estatus</th>
                        <th>NoControl</th>
                        <th>IDOpcion</th>
                        <th>NoEmpleado</th>
                    </thead>
                    <tbody>
                        
                        <tr>
                            <td>10012</td>
                            <td>05/05/2020</td>
                            <td>12/05/2020</td>
                            <td>IA´s En Realidad Aumentada</td>
                            <td>P</td>
                            <td>17010111</td>
                            <td>1</td>
                            <td>200</td>
                        </tr>
                        <tr>
                            <td>10013</td>
                            <td>07/05/2020</td>
                            <td>13/05/2020</td>
                            <td>AUTOPILOT en vuelos</td>
                            <td>P</td>
                            <td>17010112</td>
                            <td>1</td>
                            <td>300</td>
                        </tr>
                        <tr>
                            <td>10014</td>
                            <td>07/05/2020</td>
                            <td>13/05/2020</td>
                            <td>Entornos COn LINUX</td>
                            <td>P</td>
                            <td>17010113</td>
                            <td>1</td>
                            <td>400</td>
                        </tr>
                    </tbody>
                </table>
                <a href="CreaciónSolicitudes.html">Crear Solicitud</a></br>
                </br>
                <a href="EliminaciónSolicitudes.html">Eliminar Solicitud</a> </br>
                <p><strong>LISTA</strong></p>
                <a href="#"><b>>Anterior </b></a> En  <a href="#">1</a> de <a href="#">7</a> Listas disponibles <a href="#"><b> >Siguiente</b></a>
               </form>
           </section> 
        </main>
        <footer>
            <hr>
            Todos los derechos resevados respecto a la pagina de EliminaciónSolicitudes
        </footer>
    </body>
</html>