
	
	<!DOCTYPE html>
	<html>
	<head>
		<title> modificacion solitudes</title>
	</head>
	<body>
	    <head>
	    	 <principal >
            <sección>
               <h1> modificacion de solicitudes </h1>
               <form  action = " # " method = " POST " enctype = " text / plain " >
                <div  id = " Solicitud ">
                    <fieldset>
                        <leyenda>

                     Solicitud
                        </leyenda>
                        <etiqueta> ID </etiqueta>
                        <input date  type = " number " name = " id " value = " 1 " readonly >
                        <Br >
                        <etiqueta > fecha de registro: </etiqueta >
                        <input id=date  type = " date "  value = "aaaa-mm-dd ">
                        <Br >
                         <label> fechaAtencion: </ label >
                        <input id=date  type = " date "  value = "aaaa-mm-dd ">
                        
                         <Br >
                         <etiqueta > tituloProyecto: </ etiqueta >
                         <input  type = " texto " placeholder = " Nombre del tituloProyecto " name = " nombre " maxlength = " 300 " obligatorio  >

                         <Br >
                         <label > estatus : </ label >
                         	<! - <seleccionar nombre= "estatus">
                            <option> Aprovado </option>
                            <option> Rechazado </option>
                            <option> Pendinte </option>
                        </select> 
                         
                        </Br >
                        <etiqueta > noControl: </ etiqueta >
                        <input date  type = " number " name = " id " value = " 1 " readonly>
                        <Br >
                        <etiqueta > idOpcion: </ etiqueta >
                        <input date  type = " number " name = " id " value = " 1 " readonly>
                        
                        <Br >
                        
                           <button  type = " enviar " > Guardar </ button >
                           <botón> Cancelar </ botón >

                    </fieldset >
                
	</body>
	</html>>

	<HEAD>
		
	</HEAD>
