<!doctype html>
<html>
    <head>
        <title>Comentarios/Eliminar</title>
        <meta charset="utf-8">
    </head>
    <!DOCTYPE HTML>
    <HTML>
        <HEAD>
            <title>Comentarios</title>
            <meta charset="utf-8">
        </HEAD>
        <BODY>
            
            <header>
                <center>
                    <img src="logoITESZ.png" width="1310" height="105" > 
                </center>
            </header>
            <main>
                <center>
                <section>
                   <h2>Eliminar</h2>
                   <p><a href="consultarComentarios.html">Pagina Consultas</a>  </p>
                   <p><a href="crearComentarios.html">Pagina Creacion</a> </p>
                   <p><a href="modificarComentarios.html">Pagina Modificacion</a> </p>
                   <p>
                    Profesor:
                    <select name="nombreProfesor">
                      <option>Pedro Zambrano Lopez</option>
                      <option>Roberto Suarez Zinzun</option>
                      <option>Franciso Rodriguez Diaz</option>
                    </select>
                  </p>

                  <Label>idComentario:</Label>
                   <input type="text" placeholder="*idComentario*" name="comentario">
                   <button>Aceptar</button>

                <br>
                
                <h1>Comentarios</h1>
                
                <table border="1">
                    <thead>
                    
                    <tbody style="background: #0080C0;">
                        <tr>
                            <th>idComentario</th>
                            <th>idEvidencia</th>
                            <th>idUsuario</th>
                            <th>Materia</th>
                            <th>Comentario</th>
                            <th>Fecha</th>
                            <th>Hora</th>
                        </tr>
                    </tbody>
                    </thead>
                         
                            <tr>
                                <td>CM00001</td>
                                <td>EV00001</td>
                                <td>US00001</td>
                                <td>Sistemas Programables</td>
                                <td>Formato incorrecto</td>
                                <td>13/10/2020</td>
                                <td>12:42pm</td>
                            </tr>

                            <tr>
                                <td>CM00002</td>
                                <td>EV00002</td>
                                <td>US00002</td>
                                <td>Sistemas Programables</td>
                                <td>Puro pdf no mache pues</td>
                                <td>10/10/2020</td>
                                <td>09:42pm</td>
                            </tr>

                            <tr>
                                <td>CM00003</td>
                                <td>EV00003</td>
                                <td>US00003</td>
                                <td>Sistemas Programables</td>
                                <td>Profe no entendi :c</td>
                                <td>09/10/2020</td>
                                <td>1:42pm</td>
                            </tr>
                    
                        
                           
                        </tr>
                    
                    
                        </table>
                   
            <footer>
                <hr>
                &copy;Derechos reservados ITESZ 
                
            </footer>
        </center>
        </BODY>
    </HTML>   
</BODY>
</HTML> 