<!DOCTYPE html>
<html>
    <head>
        <title > Consulta De Administrativos</title>
        <meta charset= "utf-8">
    </head>
    <body>
        <main>
           <section>
               <h1 align="center">Administrativos</h1>
               <form>
               <label>Buscar Administrativos : </label>
               <input type="text" placeholder="Buscar por numero de empleado" IDconsluta="noEmpleado">
               <button>Buscar</button> </br>

                
                <table align="center" border="1" bordercolor="4D2219">
                    
                    <thead>
                        <tr>
                            <td colspan="8" align="center" bgcolor="FF6746"> <strong>Informacion De Administrativos</strong></td>
                        </tr>

                        <th>No. Empleado</th>
                        <th>Puesto</th>
                        <th>Estatus</th>
                        <th>Id Usuario</th>
 
                    </thead>
                    <tbody>
                        
                        <tr>
                            <td>1</td>
                            <td>Contador</td>
                            <td>P</td>
                            <td>404054</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Aux Contador</td>
                            <td>D</td>
                            <td>450104</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Vinculacion</td>
                            <td>D</td>
                            <td>450105</td>
                        </tr>
                    </tbody>
                </table>

                <a href="altaAdministrativos.html">Alta Administrativos</a></br>
                </br>
                <a href="eliminarAdministrativos.html">Eliminar Administrativos</a> </br>
                <p><strong>LISTA</strong></p>
                <a href="#"><b>>Anterior </b></a> En  <a href="#">1</a> de <a href="#">7</a> Listas disponibles <a href="#"><b> >Siguiente</b></a>
               </form>
           </section> 
        </main>
        <footer>
            <hr>
            Todos los derechos resevados respecto a la pagina de consulta Administrativos
        </footer>
    </body>
</html>