<!doctype html>

<html lang="es">

    <head>
        <meta charset="UTF-8">
        <title> TitulaTEC </title>
    </head>

    <body>

        <header>
            INSTITUTO TECNOLÓGICO DE ESTUDIOS SUPERIORES DE ZAMORA
        </header>

        <nav>
        <p> Menú: </p>
        <ul>
            <li> <a href="./Actos/ConsultaActos.html"> Actos </a> </li>
            <li> <a href="./Alumnos/ConsultaAlumnos.html"> Alumnos </a> </li>
            <li> <a href="./Docentes/ConsultaDocentes.html"> Docentes </a> </li>
        </ul>
        </nav>

        <main>

            <section>

                <h1> ELIMINACIÓN DE ALUMNOS </h1>
                <form>
                <div id="datosAlumno">   
                           <p>¿Está seguro de eliminar al alumno(a): <b>xxxxxxxxxxx</b>?</p>
                           <button> Aceptar </button>
                           <button> Cancelar </button>
                </div>
                </form>
                <a href="./ConsultaAlumnos.html"> Regresar </a>

            </section>

        </main>
        
        <footer>
            Elaborado por Axel Joel Loredo Rivera
        </footer>

    </body>

</html>