<!DOCTYPE html>

<html>
    <head>
        <title>Modificar</title>
        <meta charset="UTF-8">

    </head>

    <body>

        <header>
            <center>
                <img src="portada.png" width="1300" height="100">

            </center>
        </header>

        <h3>Modificar Comentario </h3>
        <div id="Comentario">
            <fieldset>
                <form>
                    <label>IdComentario: </label>
                    <input type="text" name="IdComentario" placeholder="IdComentario">
                    <button>Mostrar</button>
                    <br>
                    <br>
                    <label>IdEvidencia: </label>
                    <input type="text" name="IdEvidencias" placeholder="IdEvidencias">
                    <br>
                    <br>
                    <label>IdAlumno: </label>
                    <input type="text" name="IdAlumnos" placeholder="IdAlumnos">
                    <br>
                    <br>
                    <label>Docente: </label>
                    <input type="text" placeholder="Nombre del Docente" name="docente" maxlength="100" value=" " required="">
                    <br>
                    <br>
                    <label>Materia: </label>
                    <input type="text" >
                    <br>
                    <br>
                    <label>Comentario: </label>
                    <input type="text" name="comentario" placeholder="Comentario" maxlength="500" required>
                    <br>
                    <br>
                    <label>Fecha: </label>
                    <input type="txt" name="Fecha" placeholder="dd/mm/aaaa">
                    <br>
                    <br>
                    <label>Hora: </label>
                    <input type="text" name="hora" placeholder="hr/min/pm" required>
                    <br>
                    <br>
                    <button>Modificar</button>
                    <button>Eliminar</button>
                    <button>Guardar</button>

                </form>


            </fieldset>
        </div>
        <section>
            <center>
                <p><a href="consultarComentarios.html"><button>Pagina Consultas</button></a></p>
                <p><a href="crearComentarios.html"><button>Pagina Creacion</button></a> </p>
            </center>

        </section>

        <footer>
            <hr>
            &copy;Derechos reservados ITESZ 
        </footer>

    </body>
</html>

