<!DOCTYPE HTML>
<HTML>
    <HEAD>
        <title>TitulaTEC</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../CSS/estilo.css">
        <style>
            h1{
                color:red;
            }
        </style>
    </HEAD>
    <BODY>
        
        <header>
            <center>
                <img src="../Imagenes/logoITESZ.png">
            </center>
        </header>
        <nav style="background-color: beige;">
           <a href="#"> Alumnos </a> | <a href="#"> Docentes </a> | <a href="#">Actos </a>
        </nav>
        <main>
            <section>
               <h1>Registro de Docentes</h1>
               <form action="#" method="POST" enctype="text/plain">
                <div id="datosPersonales">
                    <fieldset>
                        <legend>
                            Datos Personales
                        </legend>
                        <label>Nombre:</label>
                        <input type="text" placeholder="Nombre del Docente" name="nombre" maxlength="100" required>
                        <br>
                        <label>Sexo:</label>
                        <!--<select>
                            <option>Femenino</option>
                            <option>Masculino</option>
                        </select>-->
                        <input type="radio" checked name="sexo">Femenino
                        <input type="radio" name="sexo">Masculino
                         <br>
                         <label>Telefono:</label>
                         <input type="tel" name="telefono" placeholder="###-###-####" required>
                         <br>
                         <label>Email:</label>
                         <input type="email" name="email" placeholder="algo@algo" required>
                        <br>
                        <label>Password:</label>
                        <input type="password" name="password" required>
                        <br>
                        <label>Repite Password:</label>
                        <input type="password" name="rpassword" required>
                        <br>
                        <input type="hidden" name="tipo" value="D">
                        <input type="hidden" name="estatus" value="I">
                        <br>
                        <button>Siguiente</button>
                        <button>Cancelar</button>
                    </fieldset>
                </div>
                <div id="datosLabores">
                    <fieldset>
                        <legend>
                            Datos Laborales
                        </legend>
                        
                            <label>Escolaridad:</label>
                            <select name="escolaridad">
                                <option>
                                    --Selecciona la escolaridad--
                                </option>
                                <option>
                                    Licenciatura
                                </option>
                                <option>
                                    Maestría
                                </option>
                                <option>
                                    Doctorado
                                </option>
                                <option>
                                    Post-Doctorado
                                </option>
                            </select>
                            <br>
                            <label>Especialidad:</label>
                            <input type="text" name="especialidad" placeholder="Especialidad" maxlength="100" required>
                            <br>
                            <label>Cedula:</label>
                            <input type="text" name="cedula" maxlength="10" placeholder="##########" required>
                            <br>
                            <label>Carrera:</label>
                            <select name="carrera">
                                <option>
                                    --Selecciona la carrera--
                                </option>
                                <option>
                                    Ing. en Sistemas Computacionales
                                </option>
                                <option>
                                    Ing. en Tecnologías de la Información
                                </option>
                                <option>
                                    Ing. en Electrónica
                                </option>
                                <option>
                                   Ing. Industrial
                                </option>
                            </select>
                            <br>
                           <button type="submit">Guardar</button>
                           <button>Cancelar</button>
                            
                    </fieldset>
                </div>
               </form>   
              <a href="consultaDocentes.html" class="linkButton">Regresar</a>  
              <a href="eliminarDocente.html" class="linkButton">Eliminar</a>
            </section>
            <aside>
                Barra lateral
            </aside>
        </main>
        <footer>
            <hr>
            &copy;Derechos reservados ITESZ 
        </footer>
    
    </BODY>
</HTML>