<!DOCTYPE HTML>
<HTML>
    <HEAD>
        <title>TitulaTEC</title>
        <meta charset="utf-8">
    </HEAD>
    <BODY>
        <header>
            <img src="../Imagenes/logoITESZ.png">
        </header>
        <nav>
            Alumnos | Docentes |Actos
        </nav>
        <main>
            <section>
               <h1>Registro de Docentes</h1>
               <form action="#" method="POST" enctype="text/plain">
                <div id="datosPersonales">
                    <fieldset>
                        <legend>
                            Datos Personales
                        </legend>
                        <label>Nombre:</label>
                        <input type="text" placeholder="Nombre del Docente" name="nombre" maxlength="100" required>
                        <br>
                        <label>Sexo:</label>
                        <!--<select>
                            <option>Femenino</option>
                            <option>Masculino</option>
                        </select>-->
                        <input type="radio" checked name="sexo">Femenino
                        <input type="radio" name="sexo">Masculino
                         <br>
                         <label>Telefono:</label>
                         <input type="tel" name="telefono" placeholder="###-###-####" required>
                         <br>
                         <label>Email:</label>
                         <input type="email" name="email" placeholder="algo@algo" required>
                        <br>
                        <label>Password:</label>
                        <input type="password" name="password" required>
                        <br>
                        <label>Repite Password:</label>
                        <input type="password" name="rpassword" required>
                        <br>
                        <input type="hidden" name="tipo" value="D">
                        <input type="hidden" name="estatus" value="I">
                        <br>
                        <button>Siguiente</button>
                    </fieldset>
                </div>
                <div id="datosLabores">
                    <fieldset>
                        <legend>
                            Datos Laborales
                        </legend>
                    </fieldset>
                </div>
               </from>     
            </section>
            <aside>
                Barra lateral
            </aside>
        </main>
        <footer>
            <hr>
            Derechos reservados ITESZ 
        </footer>
    </BODY>
</HTML>