<!DOCTYPE HTML>
<HTML>
    <HEAD>
        <title>TitulaTEC</title>
        <meta charset="utf-8">
    </HEAD>
    <BODY>
        
        <header>
            <center>
                <img src="../Imagenes/logoITESZ.png">
            </center>
        </header>
        <nav>
            Alumnos | Docentes |Actos
        </nav>
        <main>
            <section>
               <h1>Listado de Docentes</h1>
               <Label>Buscar:</Label>
               <input type="text" placeholder="Buscar por nombre" name="nombre">
               <button>Buscar</button>
               <br>
               <a href="altaDocente.html">Agregar Docente</a> 
               <table border="1">
                    <thead>
                        <th>Nombre</th>
                        <th>Sexo</th>
                        <th>Telefono</th>
                        <th>Email</th>
                        <th>Carrera</th>
                        <th>Especialidad</th>
                        <th>Escolaridad</th>
                        <th>Cedula</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Roberto Suárez Zinzún</td>
                            <td>Masculino</td>
                            <td>351-190-1781</td>
                            <td>rsuarez@accitesz.com</td>
                            <td>Ing. En Sistemas</td>
                            <td>MIS</td>
                            <td>Maestría</td>
                            <td>123467</td>
                            <td><a href="modificarDocente.html"><img src="../Imagenes/editar.png"></a></td>
                            <td><a href="eliminarDocente.html"><img src="../Imagenes/eliminar.png"></a></td>
                        </tr>
                    </tbody>
                </table> 
                <p>Paginas:</p>
                Anterior <a href="#">1</a> de 7 Siguiente       
            </section>
            <a href="#">Refrescar</a>
        </main>
        <footer>
            <hr>
            &copy;Derechos reservados ITESZ 
        </footer>
    
    </BODY>
</HTML>