<!DOCTYPE HTML>
<HTML>
    <HEAD>
        <title>TitulaTEC</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="stylesheet" href="../CSS/bootstrap.min.css">
        <script src="../JS/bootstrap.min.js"></script>
    </HEAD>
    <BODY>
        
        <header>
            <center>
                <img src="../Imagenes/logoITESZ.png">
            </center>
        </header>
            <nav class="navbar navbar-expand-lg navbar-light bg-dark">
                <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="../Alumnos/ConsultaAlumnos.html">Alumnos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Docentes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Actos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Pagos</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li>
                  </ul>
                  <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                  </form>
                </div>
              </nav>
        <main>
            <section>
               <h1>Eliminación de Docentes</h1>
               <form action="#" method="POST" enctype="text/plain">
                    <p>¿ Estas seguro de eliminar a <b>Roberto Suárez Zinzún</b>?</p>
                    <button type="submit" class="btn btn-info">Aceptar</button>
                    <button class="btn btn-danger">Cancelar</button>
                </form>
                <a href="consultaDocentes.html" class="btn btn-primary">Regresar</a>     
            </section>
            <aside>
                Barra lateral
            </aside>
        </main>
        <footer>
            <hr>
            &copy;Derechos reservados ITESZ 
        </footer>
    
    </BODY>
</HTML>