<!DOCTYPE HTML>
<HTML>
    <HEAD>
        <title>TitulaTEC</title>
        <meta charset="utf-8">
    </HEAD>
    <BODY>
        
        <header>
            <center>
                <img src="../Imagenes/logoITESZ.png">
            </center>
        </header>
        <nav>
            Alumnos | Docentes |Actos
        </nav>
        <main>
            <section>
               <h1>Eliminación de Docentes</h1>
               <form action="#" method="POST" enctype="text/plain">
                    <p>¿ Estas seguro de eliminar a <b>Roberto Suárez Zinzún</b>?</p>
                    <button type="submit">Aceptar</button>
                    <button>Cancelar</button>
                </form>
                <a href="consultaDocentes.html">Regresar</a>     
            </section>
            <aside>
                Barra lateral
            </aside>
        </main>
        <footer>
            <hr>
            &copy;Derechos reservados ITESZ 
        </footer>
    
    </BODY>
</HTML>