<!doctype html>
<html>
    <head>
        <title>TecZamora</title>
        <meta charset="utf-8">
        <link src="css/estilo.css">
        <style>
            li{
                color:red;
            }
        </style>
        <script>
            function saludar(){
                alert("Hola mundo");
            }
        </script>

    </head>
    <body>
        <h1>TECNOLOGICO DE ZAMORA</h1>
        <h3>Inf. de Becas</h3>
        <ol>
            <li>Manutención</li>
            <li>Transporte</li>
            <li>Alimenticia</li>
        </ol>
        <a href="index.html">Regresar</a>
        <button onclick="saludar()">Saludar</button>
    </body>
</html