<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8">
        <title>TitulaTEC</title>
        
    </head>
    <body>
        <header>
            INSTITUTO TECNOLOGICO DE ESTUDIOS SUPERIORES DE ZAMORA
        </header>
       
        <main>
				<section>
						<h1>ELIMINACIÓN DE ACTOS</h1>
						<form action="#" method="POST" enctype="text/plain">
							<p>¿ Estas seguro de eliminar acto <b>1</b>?</p>
							<button type="submit">Confirmar</button>
                            <button><a href="./ConsultarActo.html">Regresar</a></button> 
						</form>
				</section>
				 <aside>
					Barra lateral
				 </aside>
        </main>
        <footer>
            <hr>
            &copy;Derechos reservados ITESZ 
        </footer>
    </body>
</html>