<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>TitulaTEC</title>
    </head>
    <body>
        <h1>LISTA DE ALUMNOS</h1>
        <a href="./altaAlumno.html"><img src="../Imagenes/Registro.jpg">Registrar Alumno</a>
        <table border="1">
            <th>No.Control:</th>
            <th>Nombre:</th>
            <th>Sexo:</th>
            <th>Email:</th>
            <th>Telefono:</th>
            <th>Carrera:</th>
            <th>Creditos:</th>
            <th>Año Egreso:</th>
            <th>Editar:</th>
            <th>Eliminar:</th>
            {% for a in alumnos %}
            <tr>
                <td>{{a.nocontrol}}</td>
                <td>{{a.usuario.nombre}}</td>
                <td>{{a.usuario.sexo}}</td>
                <td>{{a.usuario.email}}</td>
                <td>{{a.usuario.telefono}}</td>
                <td>{{a.carrera.nombre}}</td>
                <td>{{a.creditos}}</td>
                <td>{{a.anioEgreso}}</td>
                <td><a href="editarAlumno.html"><img src="../Imagenes/Editar.jpg"></a></td>
                <td><a href="eliminarAlumno.html"><img src="../Imagenes/Eliminar.jpg"></a></td>
            </tr>
            {% endfor %}
        </table>
    </body>
    <a href="../principal.html">Regresar</a>
</html>