<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8" />
		<title>Eliminación</title>
	</head>
	<body>
                <div>
                        <ul>
                                <li><a href="CreaciónSolicitudes.html">Crear Solicitud</a></li>
                                <li><a href="ModificarSolicitudes.html">Modificar Solicitudes</a></li>
                                <li><a href="Modificacionsolicitudes.html">Consultar Solicitudes</a></li>
                                <li><a href="EliminaciónSolicitudes.html">Eliminar Solicitudes</a></li>
                        <ul>
                </div>

	
		<h1>Eliminar Solicitud</h1>
		<form action="" method="delete">
			<label for="name">ID de Solicitud:</label>
			<input type="text" id="IDSolicitud" name="IDSolicitud" required>			
			<input type="button" name="btn_Eliminar" value="Eliminar">
		</form>			


	</body>
</html>
